@import '../../global.scss';

.popular-topics__container {
  display: grid;
  grid-template-areas:
    'a a a a a'
    'b c c c c'
    'b c c c c';
  gap: 2rem;
  padding: 1rem;
}

.navbar {
  grid-area: a;
  display: flex;
  justify-content: space-between;
}

.popular-topics__topics {
  grid-area: b;
  display: flex;
  flex-direction: column;
  // gap: 1rem;

  .__topic {
    border: 1px solid $p-clr-2;
    background: none;
    width: 20rem;
    height: 4rem;
    border-radius: 5px;
    color: inherit;

    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 2px $p-clr-2;
      background: $p-clr-2 !important;
    }
  }
}

.trending-questions__container {
  grid-area: c;
  background: #000;

  .trending-question {
    cursor: pointer;
    margin: 1rem 0;
    text-transform: capitalize;
  }
}

.questions {
  margin-top: 3rem;
  background: pink;
}

.answers {
  text-transform: uppercase;
  color: $p-txt-neutral;
  font-size: 14px;
  letter-spacing: 2px;
}

.trending-questions__search {
  // float: right;
  display: flex;
  flex-flow: row-reverse nowrap;
  background: none;
  border: none;
  border-bottom: 1px solid $p-txt-light;
  text-align: center;
  width: 15rem;
  padding-bottom: 1rem;

  &:focus {
    outline: none;
    color: inherit;
  }

  .view-questions__container {
    color: green;
    background: #000;
  }
}

.view-all {
  height: 2rem !important;
  color: $p-txt-light !important;
}
