@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

.app-container {
  min-height: 100vh;
  padding: 1rem;
  color: #e9e9e9;
  background-color: #020d12;
  background-image: radial-gradient(at 50% 50%, #191919 0, transparent 100%), radial-gradient(at 150% 150%, #255443 0, transparent 50%);
}

.coming-soon {
  cursor: not-allowed !important;
  position: relative;
}

.coming-soon:hover::after {
  position: absolute;
  z-index: 10;
  top: 2rem;
  left: 0rem;
  height: 2rem;
  width: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(129, 129, 129, 0.2);
  border-radius: 5px;
  color: #fff;
  font-size: 0.75rem;
  content: 'coming-soon';
}

.topics__header {
  text-align: center;
  margin: 1rem;
}

.topics__text {
  text-align: center;
  margin: 1rem;
  font-size: 1rem;
  color: #c6c6c6;
}

.topics__topics {
  background: #576d65;
  background-image: radial-gradient(at -25% -25%, gray 0, transparent 100%), radial-gradient(at 125% 125%, #c6c6c6 0, transparent 50%);
  border-radius: 5px;
  width: 70%;
  min-height: 60vh !important;
  margin: 0 auto;
}

.topics__topics .topics__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5rem;
}

.topics__topics .topics__categories .topics__cat {
  width: 100%;
  cursor: pointer;
  border-left: 1px solid gary;
  border-width: 0 1px;
  background: #e9e9e9;
}

.topics__topics .topics__categories .topics__cat:hover {
  background: gray !important;
}

.topics__topic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.topics__topic-container .topics__topic {
  padding: 0.75rem 1rem;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
}

.topics__topic-container .topics__topic:hover {
  cursor: pointer;
  background: #c6c6c6;
  outline: none;
}

.topics__development-end-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  width: 50%;
  margin: 1.5rem auto;
  gap: 0.5rem;
}

.topics__development-end-container .topics__development-end {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 148, 0, 0.5);
          box-shadow: 2px 2px 2px rgba(0, 148, 0, 0.5);
}

.topics__development-end-container .topics__development-end:hover {
  background-color: rgba(0, 148, 0, 0.5);
}

.topics__more {
  position: absolute;
  bottom: 5rem;
}
/*# sourceMappingURL=topics.css.map */