@import '../../global.scss';

.topics__header {
  text-align: center;
  margin: 1rem;
}

.topics__text {
  text-align: center;
  margin: 1rem;
  font-size: 1rem;
  color: $p-txt-neutral;
}

.topics__topics {
  background: $s-bg-light;
  background-image: radial-gradient(at -25% -25%, $p-txt-dark 0, transparent 100%),
    radial-gradient(at 125% 125%, $p-txt-neutral 0, transparent 50%);
  border-radius: 5px;
  width: 70%;
  min-height: 60vh !important;
  margin: 0 auto;

  .topics__categories {
    display: flex;

    .topics__cat {
      width: 100%;
      cursor: pointer;
    }
  }
}

.topics__topic-container {
  display: flex;
  height: 10rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .topics__topic {
    padding: 0.75rem 1rem;
    text-transform: capitalize;

    &:hover {
      cursor: pointer;
      background: $p-clr-2;
      outline: none;
    }
  }
}

.topics__end-container {
  display: flex;
  text-align: center;
  position: relative;

  .topics__end {
    width: 100%;
    cursor: pointer;
  }

  .topics__more {
    position: absolute;
    bottom: 0;
  }
}
