@import '../../global.scss';

#register,
#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45vw;
  margin: 0 auto;
  padding: 1.5rem 4rem;
  background-color: $p-txt-light;
  color: $p-txt-dark;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -4px $p-txt-dark;
}

.register-container {
  padding: 0 0 2rem;
}

.user__submit {
  margin-bottom: 1rem;
}

.user__alert {
  font-size: 12px;
}
