@import '../global.scss';

.example-result {
  color: darkred;
  font-size: 13px;
}

.view-questions-question-container {
  display: flex;
  justify-content: space-between;
}

.view-questions__extra-info-ex-source {
  a {
    color: $button;
    text-transform: uppercase;
  }
}

.view-questions__extra-info-level {
  letter-spacing: 2px;
  font-size: 14px;

  span {
    color: $button;
    text-transform: capitalize;
  }
}

.view-questions__container {
  border-bottom: 1px solid $p-clr-1;
  margin: 0.5rem 0;
  padding: 0.5rem 0;

  .view-questions__question {
    cursor: pointer;
    color: $p-txt-neutral;
  }

  .view-questions__answer {
    text-transform: uppercase;
    color: $p-txt-dark;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 1rem 0;
  }

  .view-questions__example {
    padding: 1rem;
    border: 1px solid $p-txt-neutral;
    border-radius: 5px;
    margin: 1rem 0;
  }

  .view-questions__example-title {
    text-transform: uppercase;
    color: $p-clr-2;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .view-questions__extra-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
    color: $p-txt-dark;
    font-size: 13px;
  }
}
