@import '../global.scss';

#navbar {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  text-decoration: underline;
  cursor: pointer;

  li {
    list-style-type: none;
  }
}

.navbar__select {
  position: relative;
}

.navbar__select:hover .navbar__menu {
  display: block;
}
.navbar__menu {
  display: none;
  position: absolute;
  width: 10rem;
  top: 1.5rem;
  background: $p-txt-dark;

  &li:hover {
    text-decoration: underline;
  }
}

.sort-questions {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;

  li {
    list-style-type: none;
    color: $p-txt-neutral;

    &:first-child {
      border-right: 1px solid #fff;
      padding-right: 1rem;
    }

    &:hover {
      color: $p-clr-2 !important;
    }
  }
}

.navbar__list-item {
  list-style-type: none;
  color: $p-txt-neutral;

  &:hover {
    color: $p-clr-2 !important;
  }
}

#questions {
  color: white;
  text-decoration: underline;
}

#syntax {
  color: white;
  text-decoration: underline;
}
