@import '../global.scss';

#navbar {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: underline;
  cursor: pointer;

  li {
    list-style-type: none;
  }
}

// .dropdown-toggle::after {
//   display: none !important;
// }

.dropdown__toggle {
  background: none !important;
  border: none !important;
  &:focus {
    box-shadow: none !important;
  }
}

.dropdown__menu {
  background-color: $p-txt-dark !important;
  border-radius: 10px !important;
}

.dropdown__menu > * {
  color: $p-txt-light !important;
  background-color: $p-txt-dark !important;
  &:hover {
    color: $p-clr-2 !important;
    text-decoration: underline;
  }
  & > * {
    color: inherit !important;
    text-decoration: none;
  }
}

.sort-questions {
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;

  li {
    list-style-type: none;
    color: $p-txt-neutral;

    &:first-child {
      border-right: 1px solid #fff;
      padding-right: 1rem;
    }

    &:hover {
      color: $p-clr-2 !important;
    }
  }
}

.navbar__list-item {
  list-style-type: none;
  color: $p-txt-neutral;

  &:hover {
    color: $p-clr-2 !important;
  }
}

#questions {
  color: white;
  text-decoration: underline;
}

#syntax {
  color: white;
  text-decoration: underline;
}
