@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

// colors

$p-bg-dg: #020d12;

$p-txt-dark: gray;
$p-txt-neutral: #c6c6c6;
$p-txt-light: #e9e9e9;

$p-clr-1: #550355;
$p-clr-2: #255443;

$button: hsl(120, 100%, 29%);

$hover-clr-1: hsla(120, 100%, 29%, 0.5);

$media-large-screen: 1400px;
$media-medium-screen: 850px;
$media-small-screen: 550px;
$media-tiny-screen: 400px;

.app-container {
  min-height: 100vh;
  padding: 1rem;
  color: $p-txt-light;
  background-color: $p-bg-dg;
  background-image: radial-gradient(at 50% 50%, #191919 0, transparent 100%),
    radial-gradient(at 150% 150%, $p-clr-2 0, transparent 50%);
}
